a(href="https://tds.favbet.partners").main-link
.fav-page
    .fav-page__main
        .fav-page__left
            .fav-page__left-cont
                img(src="img/logo.svg" alt="Favbet").fav-page__left-logo
                .fav-page__bonus
                    .fav-page__bonus-item.title Бонус #[span *]
                    .fav-page__bonus-cont
                        .fav-page__bonus-item.info #[span до] 280 000 ₴
                        .fav-page__bonus-item.fs + 600 FS
                a(href='https://tds.favbet.partners').fav-page__btn #[span Забрати бонус]
        .fav-page__right
            .fav-page__sem
                picture
                    source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/sem-desk.png")
                    //source(media="(max-width: 901px) and (min-height: 1470px) and (orientation: portrait)" srcset="img/sem-tab-large.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/sem-tab.png")
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/sem-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/sem-tab.png")
                    img(src="img/sem-desk.png" alt="Favbet")
        .fav-page__decor
            .fav-page__decor-coin-1
                img(src="img/coin-1.png" alt="Favbet")
            .fav-page__decor-coin-2
                img(src="img/coin-2.png" alt="Favbet")
            .fav-page__decor-coin-3
                img(src="img/coin-3.png" alt="Favbet")
            .fav-page__decor-coin-4
                img(src="img/coin-4.png" alt="Favbet")
    .fav-page__info
        .fav-page__info-item *Під бонусом розуміється можливість отримати приз в рамках акції «Вітальний бонус». Період дії акції з 24.03.2025 по 31.12.2025 року. Бонус доступний тільки для нових клієнтів. Деталі на сайті favbet.ua.
        .fav-page__info-item ТОВ «БУКМЕКЕРСЬКА КОМПАНІЯ «ФАВБЕТ». Ліцензія на провадження діяльності з організації та проведення букмекерської діяльності від 28.12.2022, видана згідно з рішенням КРАІЛ № 433 від 13.12.2022 та Ліцензія на провадження діяльності з організації та проведення азартних ігор казино в мережі Інтернет від 20.04.2021, видана згідно з рішенням КРАІЛ № 137 від 05.04.2021, зі змінами.
.fav-page__legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ